{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EmmaKolade | Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- font aweseome icon cdn link -->
    <script
      src="https://kit.fontawesome.com/21fe399584.js"
      crossorigin="anonymous"
    ></script>

    <!-- to check if user is anonymous or authenticated -->
    <script type="text/javascript">
      var user = "{{request.user}}";
      function getToken(name)
      {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getToken("csrftoken");

      // cookie for when user is not loggedin
      function getCookie(name){
        // split cookie string and get all individual namevalue pairs in an array
        var cookieArr = document.cookie.split(";");
        // loop through the array elements
        for(var i = 0; i < cookieArr.length; i++){
          var cookiePair = cookieArr[i].split("=");
          // removing whitespace at the begining of the cookie name and compare it with the given string
          if(name == cookiePair[0].trim()){
            // decode the cookie value and return
            return decodeURIComponent(cookiePair[1]);
          }
        }
        // return null if not found
        return null;
      }

      var cart = JSON.parse(getCookie('cart'))
      if(cart == undefined){
        cart = {}
        console.log('cart was created')
        document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/" // set the object to the browser cookies
      }
      console.log('Cart:', cart)
    </script>
  </head>
  <body>
    <!-- header section -->
    <section id="header">
      <a href="{% url 'home' %}"
        ><img
          src="{% static 'assests/EmmaKolade Logo New.png' %}"
          class="logo"
          alt="Logo"
      /></a>
      <!-- nav links -->
      <div>
        <ul id="navbar">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'collections' %}">Collections</a></li>
          <li><a href="{% url 'men' %}">Men</a></li>
          <li><a href="{% url 'women' %}">Women</a></li>
          <li><a href="{% url 'loginPage' %}">Login/Signup</a></li>
          <li id="rem-bag">
            <a href="{% url 'cart' %}"
              ><i class="fa-solid fa-bag-shopping"></i>
              <p>{{cartItems}}</p></a
            >
          </li>
          <a href="#" id="close-side"><i class="fa-solid fa-xmark"></i></a>
        </ul>
      </div>
      <div id="mobile">
        <a href="{% url 'cart' %}"><i class="fa-solid fa-bag-shopping"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
      <!-- end of nav links -->
    </section>
    <!-- end of header section  -->

    <div class="base-container">{% block content %} {% endblock content %}</div>
    <!-- newsletter signup -->
    <section class="newsletter" class="feature-section">
      <div class="newstext">
        <h4>EmmaKolade Newsletter &nbsp</h4>
        <p>signup to recieve the latest on emmakolade news and updates &nbsp</p>
        <div class="signup">
          <input type="text" placeholder="email address" />
          <button class="news-btn">Sign Up</button>
        </div>
      </div>
    </section>
    <!-- end of newsletter signup -->
    <!-- section footer -->
    <section id="section-footer" class="feature-section">
      <div class="col">
        <h2>CUSTOMER SERVICE</h2>
        <a href="#">CONTACT US</a>
        <a href="#">FAQ</a>
        <a href="#">SHIPPING AND RETURNS</a>
      </div>
      <div class="col">
        <h2>THE COMPANY</h2>
        <a href="#">ABOUT EMMAKOLADE</a>
        <a href="#">PRIVACY POLICY</a>
        <a href="#">NEWS</a>
      </div>
      <div class="col">
        <h2>SERVICES</h2>
        <a href="#">STYLE CONSULTANTS</a>
        <a href="#">MADE TO MEASURE</a>
        <a href="#">LAUNDRY</a>
      </div>
      <div id="social" class="col">
        <h2>We're Here For You</h2>
        <h4>Follow us to discover new collections,</h4>
        <h4>fresh arivals and exclusive offers</h4>
        <div id="fa-icon">
          <a href="https://facebook.com/emmkolade"
            ><i class="fa-brands fa-facebook-f a-icon"></i
          ></a>
          <a href="https://twitter.com/emmakolade">
            <i class="fa-brands fa-twitter a-icon"></i
          ></a>
          <a href="https://instagram.com/emmakolade"
            ><i class="fa-brands fa-instagram a-icon"></i
          ></a>
        </div>
      </div>
    </section>
    <!-- end of section footer -->

    <!-- footer -->
    <footer>
      <div class="copyright">
        <hr />
        &copy; EMMAKOLADE <span>|MADE IN NIGERIA|</span>
      </div>
    </footer>
    <!-- end of footer -->
    <script type="text/javascript" src="{% static 'js/cart.js'%}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/detail.js'%}"></script> -->
    <script type="text/javascript" src="{% static 'js/script.js'%}"></script>
  </body>
</html>
