{% extends 'store/base.html' %}
{% load static %}
{% block content %}  <body>
    <!-- hero section -->
    <section class="hero">
      <div class="hero-container">
        <h4>Shop The Best Offer</h4>
        <h2>Great Prices, Great Deals</h2>
        <h1>On every Items</h1>
        <p>shop now and save more</p>
        <button class="hero-btn">Shop Now</button>
      </div>
    </section>
    <!-- end of hero section -->

    <!-- two pictures  -->
    <section id="banner" class="feature-section">
      <div class="banner-shop">
        <h4>VIEW NOW</h4>
        <h1>WOMEN</h1>
      </div>
      <div id="shopee-men" class="banner-shop men">
        <h4>VIEW NOW</h4>
        <h1>MEN</h1>
      </div>
    </section>
    <!-- end of two pictures -->
    <section id="sm-banner" class="feature-section">
      <div class="banner-box">
        <h4>crazy deals</h4>
        <h2>buy i get 1 free</h2>
        <span>the best classic dress in son sale at EmmaKolade</span>
        <button class="banner-btn">check now</button>
      </div>
      <div class="banner-box box2">
        <h4>crazy deals</h4>
        <h2>buy i get 1 free</h2>
        <span>the best classic dress is on sale at EmmaKolade</span>
        <button class="banner-btn">check now</button>
      </div>
    </section>
  </body>
{% endblock content %}

